* {
    box-sizing: border-box;
}

html,
body {
    margin-top: 1rem;
    overflow: hidden;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    display: block;
    background-color: black;
}

#terminal-8x8 {
    display: none;
}

#dungeon-tile-32x32 {
    display: none;
}
